body,html {
    font-family: 'Roboto';
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 200px;
    margin-top: 24px;
}

.right-links {
    display: flex;
    gap: 16px;
    margin-right: 200px;
    margin-top: 24px;
}

.banner {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    min-height: 500px
}

.banner-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image {
    flex: 1;
}

.banner-container-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-left: 200px;
}

.banner-container-detail {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 200px;
    margin-top: 8px;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 30px;
    margin-left: 200px;
    margin-top: 16px;
    border-radius: 5px;
}

button {
    font-weight: 800;
    
}

.image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 140px;
}

.image > img {
    width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    min-height: 500px
}

.header-content {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    margin: 50px;
}

.content-container {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-img {
    max-width: 200px;
    max-height: 200px;
    border:solid 5px #3882f6;
    border-radius: 10px
}

.item > .item-img > img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 9px
}

.item > .item-img > img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 9px
}

.item > .text {
    max-width: 200px;
    max-height: 300px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #696969
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px
}

.quote-text {
    max-width: 50%;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}

.quote-author {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 800;
    color: #1f2937;
}

.sign {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-container {
    display: flex;
    max-width: 1000px;
    height: 250px;
    background-color: #3882f6;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.sign-container-text {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    gap: 10px;
}

.sign-container-text-head {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.sign-container-text-detail {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-container > button {
    font-size: 18px;
    color: #f9faf8;
    width: 130px;
    height: 40px;
    border: solid 2px #f9faf8;
    border-radius: 6px;
    margin-right: 100px;
    background-color: #3882f6;
}
